#
# taken into account by: svn propset svn:ignore -F svn.ignore .
#
*.pyc
*.pyo
*.html
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.log
.*.cfg
.installed.cfg
bin
var
devel
.mr.developer.cfg
develop-eggs
downloads
eggs
fake-eggs
include
lib
logrotate.conf
parts
python-eggs
versions-picked.cfg
*.egg-info