[buildout]

extends = https://raw.githubusercontent.com/IMIO/buildout.pm/refs/heads/master/communes-dev.cfg

extensions =
    mr.developer
#    buildout.environ

develop = .

#auto-checkout =
#     Products.PloneMeeting

parts =
    testseraing
    code-analysis

[sources]
Products.PloneMeeting = git ${remotes:imio}/Products.PloneMeeting.git pushurl=${remotes:imio_push}/Products.PloneMeeting.git branch=SUP-47770_before_last_back_to_proposed
Products.MeetingSeraing = git ${remotes:imio}/Products.MeetingSeraing.git pushurl=${remotes:imio_push}/Products.MeetingSeraing.git branch=SUP-47770_before_last_back_to_proposed

[versions]
buildout.environ = 1.2.0

[testseraing]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress', '-s', 'Products.MeetingSeraing']
eggs =
    ${test:eggs}
    Products.MeetingSeraing [test]
environment = testenv
