[buildout]

extends = https://raw.githubusercontent.com/IMIO/buildout.pm/refs/heads/master/communes-dev.cfg

extensions =
    mr.developer
#    buildout.environ

develop = .

auto-checkout =
     Products.PloneMeeting

parts =
    testseraing
    code-analysis


[sources]
Products.PloneMeeting = git ${remotes:imio}/Products.PloneMeeting.git pushurl=${remotes:imio_push}/Products.PloneMeeting.git branch=PM-4409_item_groups_in_charge_notes
Products.MeetingSeraing = git ${remotes:imio}/Products.MeetingSeraing.git pushurl=${remotes:imio_push}/Products.MeetingSeraing.git branch=PM-4409_item_groups_in_charge_notes

[versions]
buildout.environ = 1.2.0

[testseraing]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress', '-s', 'Products.MeetingSeraing']
eggs =
    ${test:eggs}
    Products.MeetingSeraing [test]
environment = testenv
